:root {
    --main-bg: #111;
    --main-link: #8bffff;
    --main-pop: #ff5d9e;

    /* --main-bg: #111;
    --main-link: #23C0AD;
    --main-pop: #F1E821; */

    /* --main-link: #4AD7D1;
    --main-pop: #FE4A49; */
}